[Unit]
Description=Operation Engine service wrapper
After=syslog.target

[Service]
Type=simple
User=root

Environment="JAVA_HOME=/usr/lib/jvm/java-11-openjdk-amd64"
WorkingDirectory=/sixsense
LimitNOFILE=32768
LimitNPROC=infinity
ExecStart=/usr/lib/jvm/java-11-openjdk-amd64/bin/java -agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=0.0.0.0:5005 \
          	-Dcom.sun.management.jmxremote \
          	-Djava.rmi.server.hostname=172.31.253.65 \
          	-Dcom.sun.management.jmxremote.rmi.port=6007 \
          	-Dcom.sun.management.jmxremote.port=6006 \
          	-Dcom.sun.management.jmxremote.local.only=false \
          	-Dcom.sun.management.jmxremote.authenticate=false \
          	-Dcom.sun.management.jmxremote.ssl=false \
          	-Xms256M \
          	-Xmx6G \
          	-Xmn1G \
          	-Xss4M \
          	-jar /sixsense/OperationEngine.jar
[Install]
WantedBy=multi-user.target
