<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" name="sixsense">
    <Properties>
        <!-- logging directory base, relative to file system root-->
        <Property name="baseDir">/tmp/SixSense/logs</Property>
        <!-- %logger for classpath, %m for message, %n for line break-->
        <Property name="consolePattern">%d{HH:mm:ss} %highlight{%logger:}{FATAL=red, ERROR=bright red, WARN=yellow, INFO=white, DEBUG=green, TRACE=bright blue} %m%n</Property>
        <!-- %d for date, %-5 for justified log level, p for priority, %m for message, %n for line break-->
        <Property name="logPattern">%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n</Property>
    </Properties>
    <Appenders>
        <Console name="std_out" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>${consolePattern}</Pattern>
            </PatternLayout>
        </Console>

        <RollingFile append="true"
                     name="general_log"
                     fileName="${baseDir}/general.latest.log"
                     filePattern="${baseDir}/general.%d{dd-MM-yy}.%i.log.gz"
                     ignoreExceptions="false">
            <PatternLayout>
                <Pattern>${logPattern}</Pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy /> <!-- Each engine startup will create a new log file-->
                <SizeBasedTriggeringPolicy size="3MB" /> <!-- Whenever the recent log file exceeds the specified size, a new log file will be created-->
                <CronTriggeringPolicy schedule="0 0 0 * * ?"/> <!-- Every day at midnight, a new log file will be created-->
            </Policies>
            <DefaultRolloverStrategy max="5">
                <Delete basePath="${baseDir}" maxDepth="2" followLinks="true">
                    <IfFileName glob="${baseDir}/general.*.log.gz" />
                    <IfLastModified age="14d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <!--for an explanation about ctx: param go to https://logging.apache.org/log4j/2.0/manual/lookups.html-->
        <Routing name="session_log" ignoreExceptions="false">
            <Routes pattern="${ctx:sessionID}">
                <Route>
                    <File name="trail-${ctx:sessionID}"
                          fileName="${baseDir}/sessions/${ctx:sessionID}/session.log">
                        <PatternLayout>
                            <Pattern>${logPattern}</Pattern>
                        </PatternLayout>
                    </File>
                </Route>
                <Route key="${ctx:sessionID}" ref="general_log" /><!-- If no sessionID defined in ThreadContext map, output to general log-->
            </Routes>
        </Routing>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="std_out" level="info"/>
            <AppenderRef ref="general_log" level="debug"/>
        </Root>
        <Logger name="com.SixSense.io.Session" level="info" additivity="false">
            <AppenderRef ref="std_out" level="info"/>
            <AppenderRef ref="session_log" level="info"/>
            <AppenderRef ref="general_log" level="error"/>
        </Logger>
    </Loggers>
</Configuration>