title-outline-color = black
contents-outline-color = rgba(136,223,245,1)
card-body-outline-color = #343a40

h1
  text-shadow:
    -1px -1px 0 title-outline-color,
    1px -1px 0 title-outline-color,
    -1px 1px 0 title-outline-color,
    1px 1px 0 title-outline-color;

.app
  position: absolute
  top: 50%
  transform: translateY(-50%)
  width: 100%

.contents
  border-radius 5px
  box-shadow: 0 0 10px 5px contents-outline-color
  display flex
  justify-content: space-around
  height: 80vh
  min-height: 300px
  padding: 30px 15px
  text-align: center

.contents .card
  width: 45%
  min-width: 250px
  margin: 0 10px

.contents .card-img-wrapper
  min-height: 100px

.contents .card-img-wrapper .card-img-top
  max-height: 100%
  max-width: 100%
  width: unset

.contents .card-body
  border: solid 1px card-body-outline-color
  border-radius 7px
  margin: 0 15px 15px 15px
  min-height: 100px
  overflow: hidden
  padding: 6px 7px

.card-body textarea.form-control
  border: none
  resize: none
  height: 100%
  overflow-y: auto
  width: 100%

.card-body.with-buttons textarea.form-control
  height: calc(100% - 45px)

.card-body .btn-group
  margin-top: 7px