h1
  text-shadow:
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000;

.app
  position: absolute
  top: 50%
  transform: translateY(-50%)
  width: 100%

.contents
  border-radius 5px
  box-shadow: 0 0 10px 5px rgba(136,223,245,1)
  height:50%
  padding: 30px 15px