<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<!--To run remotely, enter the following command in cli (parameter order matters!):-->
<!--java -cp "/sixsense/dependency-jars/*:/sixsense/*" org.testng.TestNG -testjar /sixsense/OperationEngine-tests.jar-->
<!--To debug remotely, enter the following command in cli (parameter order matters!):-->
<!--java -agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=0.0.0.0:5005 -cp "/sixsense/dependency-jars/*:/sixsense/*" -Denvironment="debug" org.testng.TestNG -testjar /sixsense/OperationEngine-tests.jar-->
<suite name="MainSuite" verbose="10">
    <!--<parameter name="environment" value="tests" />-->

    <listeners>
        <listener class-name="com.sixsense.TestListener" />
    </listeners>

    <test name="operation-tests">
        <groups>
            <run>
                <include name="operation" />
            </run>
        </groups>
        <packages>
            <package name="com.sixsense.operation.*"/>
        </packages>
    </test>
    <test name="model-tests">
        <groups>
            <run>
                <include name="model" />
            </run>
        </groups>
        <packages>
            <package name="com.sixsense.model.*"/>
        </packages>
    </test>
    <test name="api-tests">
        <groups>
            <run>
                <include name="api" />
            </run>
        </groups>
        <packages>
            <package name="com.sixsense.api.*"/>
        </packages>
    </test>
</suite>