<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<!--To run remotely, enter the following command in cli (parameter order matters!):-->
<!--java -cp "/sixsense/dependency-jars/*:/sixsense/*" org.testng.TestNG -testjar /sixsense/OperatingSystem-tests.jar-->
<!--To debug remotely, enter the following command in cli (parameter order matters!):-->
<!--java -agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=0.0.0.0:5005 -cp "/sixsense/dependency-jars/*:/sixsense/*" -Denvironment="debug" org.testng.TestNG -testjar /sixsense/OperatingSystem-tests.jar-->
<suite name="MainSuite">
    <!--<parameter name="environment" value="tests" />-->
    <test name="engine-tests">
        <groups>
            <run>
                <include name="engine" />
            </run>
        </groups>
        <packages>
            <package name="com.SixSense.engine.*"/>
        </packages>
    </test>
    <test name="data-tests">
        <groups>
            <run>
                <include name="data" />
            </run>
        </groups>
        <packages>
            <package name="com.SixSense.data.*"/>
        </packages>
    </test>
    <test name="util-tests">
        <groups>
            <run>
                <include name="util" />
            </run>
        </groups>
        <packages>
            <package name="com.SixSense.util.*"/>
        </packages>
    </test>
</suite>