primary-color = white
primary-background = black
primary-font = Arial


*
  box-sizing: border-box

html
  background-color: primary-background

body
  background: none
  overflow: hidden

h1
  color: primary-color
  font-weight bold
  text-align center

#app
  height: 100vh
  min-height: 400px
  position: relative

#background
  background-image: radial-gradient(circle, rgba(0, 0, 0, 0) 50%, rgba(0,0,0, 1) 100%), url("assets/background.jpg")
  background-position: center
  background-repeat no-repeat
  background-size: cover
  overflow:hidden
  position: absolute

  height: 100%
  width: 100%
  top: 0
  z-index: -1

  animation-name: brightness
  animation-duration: 8s
  animation-iteration-count: infinite

@keyframes brightness
  0% {
    filter: brightness(1.0)
  }
  50% {
    filter: brightness(2.5)
  }
  100% {
    filter: brightness(1.0)
  }